.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: rgb(247 245 255);
    border-radius: 8px;
    align-items: center;
    height: fit-content;
    width: 320px;
}

.input {
    font-weight: 400;
    display: flex;
    margin-bottom: 8px;
    padding-right: 20px;
    cursor: default;
}

.label {
    padding-right: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}

.filterTitle {
    font-size: 20px;
    margin-bottom: 20px;
}
