.form {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
}

.error {
    color: blueviolet;
    font-size: 18px;
}

.registrationBtn {
    margin-bottom: 16px;
}
