.form {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    align-items: flex-start;
}

.loginBtn {
    margin-bottom: 16px;
}
