.container {
    display: flex;
    padding: 30px;
    gap: 30px;
    flex-direction: column;
}

@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 600px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 900px;
        margin: 0 auto;
    }
}
