.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #333;
    border-radius: 4px;
}

@media only screen and (max-width: 767px) {
    .wrap {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .wrap {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .wrap {
        font-size: 20px;
    }
}

.contact {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.name,
.phone {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
}
