.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: black;
    font-size: 20px;
}

.isActive {
    color: rgb(60, 72, 170);
}

.link:hover {
    color: #535bf2;
}
